@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body {
    background-color:#25698E ;
}

.nome__ivo__barbosa {
    position: absolute;
    width: 233.24px;
    height: 45.54px;
    left: 60.64px;
    top: 34px;
    
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 27px;
    line-height: 46px;
    display: flex;
    align-items: flex-end;
    
    color: #FFFFFF;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black
    
}

.nome__developer {
    position: absolute;
    width: 141px;
    height: 37px;
    left: 160px;
    top: 47px;
    
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    
    color:white;
    text-shadow: 
        -2px -2px 0 #ff0000,  
         2px -2px 0 #ff0000,
        -2px  2px 0 #ff0000,
         2px  2px 0 #ff0000;
   
}

.chapeu__luffy {
    position: absolute;
    width: 42.4px;
    height: 20.68px;
    left: 243.94px;
    top: 30px;

    background: url(Luffys-Straw-Hat-in-One-Piece.png);
    transform: rotate(22.81deg);
}

.botoes__header{
    display: flex;
    align-items: flex-end;  
    color: #FFFFFF;
}

.botoes__header__inicio {
    position: absolute;
    width: 72px;
    height: 35px;
    left: 988px;
    top: 24px;

    font-family: 'Milonga';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
}

.botoes__header__projetos {
    position: absolute;
    width: 111px;
    height: 35px;
    left: 1101px;
    top: 24px;

    font-family: 'Milonga';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
}

.navio__pequeno {
    position: absolute;
    width: 120.85px;
    height: 154.47px;
    left: 1293.97px;
    top: -15.6px;

    background: url(pngwing.png);
    transform: rotate(13.63deg);
}

.linha__horizontal {
    border: 0; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background-color: #000; /* Define a cor da linha */
    margin: 150px 0; /* Define margem superior e inferior para espaçamento */
}
